@model Library.Models.BooksViewModel

@{
    ViewData["Title"] = "UserIndex";
}
@{
    Layout = "_Layout";
}

<h1>Books</h1>


<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Available</th>
            <th>Reserve</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@{
                if (item.Quantity > 0)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            }</td>
            <td>@{
                    <form asp-controller="Book" asp-action="CreateReservation" method="post">
                        <input type="hidden" id="bookId" name="bookId" value="@item.BookId" />
                        <button class="btn btn-primary" type="submit" @(item.Clickable == false ? "disabled" : string.Empty)>Reserve</button>
                    </form>
                }</td>
        </tr>
        }
    </tbody>
</table>
