@model Library.Models.ReservationViewModel

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}


<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>User</th>
            <th>Approve</th>
            <th>Dissaprove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.reservations)
        {
        <tr>
            <td>@item.BookId</td>
            <td>@item.UserId</td>
            <td><button>Approve</button></td>
            <td><button>Dissaprove</button></td>
        </tr>
        }
    </tbody>
</table>
