@model Library.Models.ReservationsViewModel

@{
    ViewData["Title"] = "UserIndex";
}

<h1>Your reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.Reservations != null)
            {
                @foreach (var item in Model.Reservations)
                {
                    <tr id="@item.ReservationId">
                        <td>@item.BookTitle</td>
                        <td>Pending...</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRhub.js"></script>