@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our library!</h1>
    <p>Please <a href="https://localhost:44371/Identity/Account/Login">login</a> in order for our system to work.</p>
</div>
