@model Library.Models.IssuedBooksViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Issued Books List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>User name</th>
            <th>Due date</th>
            <th>Mark as returned</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.IssuedBooks != null)
            { 
                @foreach (var item in Model.IssuedBooks)
                {
                    <tr>
                        <td>@item.BookTitle</td>
                        <td>@item.UserName</td>
                        <td>@item.Date.ToString("dd/MMMM/yyyy")</td>
                        <td>
                            <form asp-controller="IssuedBook" asp-action="ReturnBook" method="post">
                             <input type="hidden" id="issuedBookId" name="issuedBookId" value="@item.IssuedBookId" />
                             <button class="btn btn-primary" type="submit">Return book</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
