@model Library.Models.IssuedBooksViewModel

@{
    ViewData["Title"] = "UserIndex";
}

<h1>Books issued to you</h1>

<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>Due date</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.IssuedBooks != null)
            {
                @foreach (var item in Model.IssuedBooks)
                {
                    <tr>
                        <td>@item.BookTitle</td>
                        <td>@item.Date.ToString("dd/MMMM/yyyy")</td>
                    </tr>
                }
            }
        }
            </tbody>
</table>
